{% extends 'layout.html' %}

{% block content %}

  <div class="row">
      <h2 align="center">Add New PO</h2>
      <h5 align="center">Please fill out the fields to add a raised PO</h5>
      <br>
      <br>
      
    </div>
  <div class="row">
    <div class="formwrapper">
      <form method="POST" action=""> 
         {{ form.hidden_tag() }}
<!-- ######################column-1############################################ -->
          <div class="col-sm-4">
            
            <div class="form-field">
            {{ form.resource_name.label(class="form-control-label") }}: {{ form.resource_name(class="form-control form-control-lg") }}
              {% if form.resource_name.errors %}
                <ul class="errors">
                  {% for error in form.resource_name.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
            {% endif %}
            </div>
            
            <br>
            
            <div class="form-field">
              {{ form.noofdays.label(class="form-control-label") }}: {{ form.noofdays(class="form-control form-control-lg") }}
                {% if form.noofdays.errors %}
                  <ul class="errors">
                    {% for error in form.noofdays.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br>

            <div class="form-field">
              {{ form.billingrate.label(class="form-control-label") }}: {{ form.billingrate(class="form-control form-control-lg") }}
                {% if form.billingrate.errors %}
                  <ul class="errors">
                    {% for error in form.billingrate.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br>

            <div class="form-field">
              {{ form.total.label(class="form-control-label") }}: {{ form.total(class="form-control form-control-lg") }}
                {% if form.total.errors %}
                  <ul class="errors">
                    {% for error in form.total.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br>

            <div class="form-field">
              {{ form.project.label(class="form-control-label") }}: {{ form.project(class="form-control form-control-lg") }}
                {% if form.project.errors %}
                  <ul class="errors">
                    {% for error in form.project.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br>

            <div class="form-field">
              {{ form.invoice_no.label(class="form-control-label") }}: {{ form.invoice_no(class="form-control form-control-lg")}}
                {% if form.invoice_no.errors %}
                  <ul class="errors">
                    {% for error in form.invoice_no.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

          </div>

<!-- ######################column-2############################################ -->
          <div class="col-sm-4">
            <div class="form-field">
              {{ form.po_vendor.label(class="form-control-label") }}: {{ form.po_vendor(class="form-control form-control-lg") }}
                {% if form.po_vendor.errors %}
                  <ul class="errors">
                    {% for error in form.po_vendor.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>
            <br>
            <div class="form-field">
              {{ form.leavestaken.label(class="form-control-label") }}: {{ form.leavestaken(class="form-control form-control-lg") }}
                {% if form.leavestaken.errors %}
                  <ul class="errors">
                    {% for error in form.leavestaken.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br>

            <div class="form-field">
              {{ form.billableamount.label(class="form-control-label") }}: {{ form.billableamount(class="form-control form-control-lg") }}
                {% if form.billableamount.errors %}
                  <ul class="errors">
                    {% for error in form.billableamount.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>            

            <br>

            <div class="form-field">
              {{ form.fpn.label(class="form-control-label") }}: {{ form.fpn(class="form-control form-control-lg") }}
                {% if form.fpn.errors %}
                  <ul class="errors">
                    {% for error in form.fpn.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br>

            <div class="form-field">
              {{ form.date_raised.label(class="form-control-label") }}: {{ form.date_raised(class="form-control form-control-lg") }}
                {% if form.date_raised.errors %}
                  <ul class="errors">
                    {% for error in form.date_raised.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br>

            <div class="form-field">
              {{ form.golive_date.label(class="form-control-label") }}: {{ form.golive_date(class="form-control form-control-lg") }}
                {% if form.golive_date.errors %}
                  <ul class="errors">
                    {% for error in form.golive_date.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br>
            
            {{ form.add_po(class="btn btn-primary") }}



          </div>

<!-- ######################column-3############################################ -->
          <div class="col-sm-4">
            <div class="form-field">
              {{ form.month.label(class="form-control-label") }}: {{ form.month(class="form-control form-control-lg") }}
                {% if form.month.errors %}
                  <ul class="errors">
                    {% for error in form.month.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br>

            <div class="form-field">
              {{ form.billeddays.label(class="form-control-label") }}: {{ form.billeddays(class="form-control form-control-lg") }}
                {% if form.billeddays.errors %}
                  <ul class="errors">
                    {% for error in form.billeddays.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br>

            <div class="form-field">
              {{ form.gst.label(class="form-control-label") }}: {{ form.gst(class="form-control form-control-lg")}}
                {% if form.gst.errors %}
                  <ul class="errors">
                    {% for error in form.gst.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br>

            <div class="form-field">
              {{ form.porf.label(class="form-control-label") }}: {{ form.porf(class="form-control form-control-lg")}}
                {% if form.porf.errors %}
                  <ul class="errors">
                    {% for error in form.porf.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br>

            <div class="form-field">
              {{ form.pono.label(class="form-control-label") }}: {{ form.pono(class="form-control form-control-lg") }}
                {% if form.pono.errors %}
                  <ul class="errors">
                    {% for error in form.pono.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

          </div>
      
      </form>
    </div>
  </div>
    
  </div>

{% endblock %}