{% extends 'layout.html' %}

{% block content %}

  <div class="row">
    <div class="col-sm-12">
      <h2 align="center">Add New Holiday</h2>      
      <br>
      <br>
    </div>
    
    <div class="row" >
      <div class="formwrapper">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
        <!-- ######################column-1############################################ -->
        <div class="col-sm-4">
            <div class="form-field" align="center">
              {{ form.date.label(class="form-control-label") }}: {{ form.date(class="form-control form-control-lg") }}
                {% if form.date.errors %}
                  <ul class="errors">
                    {% for error in form.date.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>
          </div>  
        <!-- ######################column-2############################################ -->
        <div class="col-sm-4">
            <div class="form-field">
              {{ form.reason.label(class="form-control-label") }}: {{ form.reason(class="form-control form-control-lg") }}
                {% if form.reason.errors %}
                  <ul class="errors">
                    {% for error in form.reason.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>
            <br>
            <br>
        </div>
        
        <div class="col-sm-4">
          <br>
          {{form.add_holiday(class="btn btn-primary")}}
          

        </div>


        </form>
          }
      </div>
    </div> 



  </div>

{% endblock %}