<html>
  <head>
    <script type="text/javascript" src="{{url_for('static',filename='create_po.js')}}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}" >
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{url_for('static',filename='vendor/jquery/jquery.js')}}"></script>
    <link rel="icon" href="{{url_for('static',filename='title_icon.png')}}">
    <script type="text/javascript" src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <script>
      myVar = EmpData({{employee_list | tojson}});
    </script>
    <link rel="stylesheet" href="{{url_for('static',filename='create_po.css')}}">
  </head>
  <body>
    {% extends 'layout.html' %}
    {% block content %}
    {% set total = 0.0 %}



<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Employee List</th>
      <th scope="col">#</th>
      <th scope="col">PO List</th>
      <th scope="col">Total Rate(Without GST)</th>
      <th scope="col">Total Rate(With GST)</th>

    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <select id="emplist" multiple="multiple">
            {% for emp in employee_list %}
              <option>{{emp[1]}}</option>
            {% endfor %}
          </select>
        </td>


        <td>
        <button type="button" class="btn btn-info" id="btn1">>></button>
          <br><br>
          <button type="button" class="btn btn-info" id="btn2"><<</button>
        </td>

        <td>
          <select id="polist" multiple="multiple">

          </select>
        </td>

        <td>
          <input  id="rateWithoutGST" readonly/>
        </td>

        <td>
          <input id="rateWithGST" readonly />
        </td>

      </tr>


  </tbody>
</table>

{% endblock %}
  </body>
</html>
