<!DOCTYPE html>
<html>
<head>
	<title>VPT-Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/static/dashboard.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard" style="color: red">Vendor Payment Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/dashboard">Dashboard</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Add
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/addnewpo">Add new PO</a></li>
          <li><a href="/addnewfpn">Add new FPN</a></li>
          <li><a href="/addnewholiday">Add new Holiday</a></li>
          <li><a href="/addnewemployee">Add new Employee</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">View
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/viewpo">View PO</a></li>
          <li><a href="/viewfpn">View FPN</a></li>
          <li><a href="/viewholiday">View Holiday</a></li>
          <li><a href="/viewemployee">View Employee</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Update
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/updatepo">Update PO</a></li>
          <li><a href="/updatefpn">Update FPN</a></li>
          <li><a href="/updateholiday">Update Holiday</a></li>
          <li><a href="/updateemployee">Update Employee</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">LogOut</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
	
	<div class="row">
		{% with messages = get_flashed_messages(with_categories=true)%}
    		{%if messages %}
      			{% for category,message in messages %}
        			<div class="alert alert-{{category}}">
          			{{message}}
        			</div>
      			{% endfor %}
    		{% endif %}
  		{%endwith%}
  	</div>


	<div class="col-sm-4">.col-sm-4</div>
	<div class="col-sm-4">.col-sm-4</div>
	<div class="col-sm-4">.col-sm-4</div>

	
</div>




</body>
</html>
