<!DOCTYPE html>
<html>
<head>
	<title>VPT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/static/dashboard.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>

    {% block css %} {% endblock %}
</head>
<body>


<nav class="navbar navbar-inverse bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/dashboard">Vendor Payment Tracker</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/dashboard">Dashboard</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">Add
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/addnewpo">Add new PO</a></li>
          <li><a href="/addnewfpn">Add new FPN</a></li>
          <li><a href="/addnewholiday">Add new Holiday</a></li>
          <li><a href="/addnewemployee">Add new Employee</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">View
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/viewpo">View PO</a></li>
          <li><a href="/viewfpn">View FPN</a></li>
          <li><a href="/viewholiday">View Holiday</a></li>
          <li><a href="/viewemployee">View Employee</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Update
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Update PO</a></li>
          <li><a href="#">Update FPN</a></li>
          <li><a href="#">Update Holiday</a></li>
          <li><a href="#">Update Employee</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">LogOut</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  {% with messages = get_flashed_messages(with_categories=true)%}
    {%if messages %}
      {% for category,message in messages %}
        <div class="alert alert-{{category}}">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
  {%endwith%}
  
  {%block content %}{% endblock %}
  
  
  
</div>



</body>
</html>