{% extends 'layout.html' %}

{% block content %}

<div class="container">
  <div class="row">
  <div class="col-md-6">
    <div class="alert alert-info" role="alert">
        {{ message_alert }}

        <p>Leave Dates: {{leave_dates}}</p>
        <br>
        <p>You were present for {{present_counter}} days.</p>
    </div>
    <br>
    <form action="/uploader" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="">Upload Timesheet</label>
        <input type="file" class="form-control-file" name="input_file">
        <br>
        <button type="submit" class="btn btn-primary mb-2">Upload Timesheet</button>
      </div>
    </form>

  </div>

  <div class="col-md-6">

  </div>


</div>
<div class="row">


</div>
</div>



{% endblock %}
