{% extends 'layout.html' %}

{% block content %}

  <div class="row">
    <div class="col-sm-12">
      <h2 align="center">Holiday List</h2>      
      <br>
      <br>
    </div>
    
    <div class="row" style="padding: 25px">
      <table class="table table-striped table-bordered">  
        <thead class="thead-dark">
          <td>#</td>
          <td>Date</td>  
          <td>Holiday Reason</td>  
        </thead>  
      
        {% for row in rows %} 
      
          <tr>  
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
          </tr>  
      
        {% endfor %}  
      </table>
    </div>

{% endblock %}