{% extends 'layout.html' %}

{% block content %}

  <div class="row">
      <h2 align="center">List of Raised PO's</h2>
      <!-- <h5 align="center">Enter any one of the following fields</h5> -->
      <br>
      <br>
      <br>
      
    </div>
  <!-- <div class="row">
    <div class="formwrapper">
      <form method="POST" action="">
         {{ form.hidden_tag() }}
 ######################column-1############################################
          <div class="col-sm-4">

            <div class="form-field">
              {{ form.view_po_invoice_no.label(class="form-control-label") }}: {{ form.view_po_invoice_no(class="form-control form-control-lg")}}
                {% if form.view_po_invoice_no.errors %}
                  <ul class="errors">
                    {% for error in form.view_po_invoice_no.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

            <br><br>

             <div class="form-field">
              {{ form.view_po_pono.label(class="form-control-label") }}: {{ form.view_po_pono(class="form-control form-control-lg") }}
                {% if form.view_po_pono.errors %}
                  <ul class="errors">
                    {% for error in form.view_po_pono.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>

          </div>

 ######################column-2############################################
            
            <div class="col-sm-4">
            <div class="form-field">
              {{ form.view_po_fpn.label(class="form-control-label") }}: {{ form.view_po_fpn(class="form-control form-control-lg") }}
                {% if form.view_po_fpn.errors %}
                  <ul class="errors">
                    {% for error in form.view_po_fpn.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>
            <br><br><br><br><br><br>
            
            {{ form.view_po_submit(class="btn btn-primary") }}

          </div>
            



          

 ######################column-3############################################
          <div class="col-sm-4">
            <div class="form-field">
              {{ form.view_po_porf.label(class="form-control-label") }}: {{ form.view_po_porf(class="form-control form-control-lg")}}
                {% if form.view_po_porf.errors %}
                  <ul class="errors">
                    {% for error in form.view_po_porf.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>
          </div>

            <br>

           

        </div>
      </form>
    </div>
  </div>

    
  </div> -->

  <div class="row" style="padding: 25px">
      <table class="table table-inverse table-bordered table-hover">  
        <th class="thead-dark">
          <td>#</td>
          <td>Resource Name</td>  
          <td>Vendor</td>  
          <td>Month</td> 
          <td>No of Days</td> 
          <td>Leaves Taken</td>
          <td>Billed Days</td>
          <td>Billing Rate</td>
          <td>Billable Amount</td>
          <td>GST@18</td>
          <td>Total</td>
          <td>FPN</td>
          <td>PORF</td>
          <td>Project</td>
          <td>Date Raised</td>
          <td>PO Number</td>
          <td>Invoice No.</td>
          <td>Go-Live Date</td>
        </th>  
      
        {% for row in rows %} 
      
          <tr>  
              <td>{{row[0]}}</td>  
              <td>{{row[1]}}</td>  
              <td>{{row[2]}}</td>  
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
              <td>{{row[5]}}</td>
              <td>{{row[6]}}</td>
              <td>{{row[7]}}</td>
              <td>{{row[8]}}</td>
              <td>{{row[9]}}</td>
              <td>{{row[10]}}</td>
              <td>{{row[11]}}</td>
              <td>{{row[12]}}</td>
              <td>{{row[13]}}</td>
              <td>{{row[14]}}</td>
              <td>{{row[15]}}</td>
              <td>{{row[16]}}</td>
              <td>{{row[17]}}</td>

          </tr>  
      
        {% endfor %}  
      </table>
    </div>

{% endblock %}